<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />

  <link rel="stylesheet" href="/public/stylesheet/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="hero">
     <div >
      <nav class="navbar mt-2">
          <a class="link" href="/"> Home</a>
          <a class="link" href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
       <a class="link" href="/" id="logout">logout</a>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
      </div>
    </header>
    
    <main> 
      {{{ body }}}
    </main>
    <footer> 
      this is the main page!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/public/javascript/logout.js"></script>
  {{/if}}
</body>

</html>