<div class="card">
    <h3 class="card-header"> Sign Up 
    </h3>
    <form class="card-body" id="signup-form">
   
    <label for="username-signup" class="form-label">Username</label>
    <input type="text" id="username-signup"  class="form-imput"/>
    
    <label class="form-label" for="password-signup">Password</label>
    <input id="password-signup" type="password" class="form-input" />
    <button type="submit" class="btn">Signup now</button>
 </form>
</div>

<script src="/javascript/signup.js"></script>